[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
yapf = "*"
pyflakes = "*"

[packages]
django = "*"
requests = "*"
python-dotenv = "*"
channels = "*"
channels-redis = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.7"
